@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-family: "Montserrat", sans-serif;
}

h1,
h2 {
  /* letter-spacing: 0.1rem; */
  font-weight: 500;
}

body {
  /* background: linear-gradient(90deg, red, green); */
  background: #eeeeee;
}

footer {
  height: 4rem;
}

/* Nav */

nav {
  width: 100%;
  height: 50px;
  /* border-bottom: 1px solid #333; */
  background: white;
  position: fixed;
  top: 0;
}

.nav-spacing {
  height: 50px;
}

.nav-wrapper {
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
}

nav h1 {
  font-size: 1rem;
}

nav .heading {
  flex: 1 1 auto;
}

nav .navigation {
  flex: 0 0 auto;
}

nav ul {
  /* width: 80%; */
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  list-style: none;
}

nav ul.navigation > * {
  padding-left: 1rem;
}

nav ul li a {
  color: #333;
  text-decoration: none;
}

/* Login / Register */
.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.general-wrapper {
  width: 60%;
  margin: 0 auto;
  padding: 0 1rem;
}

.auth {
  /* width: 40%; */
  display: flex;
  flex-direction: column;
  background: white;
  padding: 1rem;
  /* margin: 0 1rem; */
}

.general-wrapper.login-logout {
  margin: 0 1rem;
  padding: 0;
}

.general-wrapper.order {
  padding: 0 1rem;
}

.shadow-box {
  box-shadow: 10px 10px 40px #bbb;
}

.auth label {
  margin: 0.5rem 0 0.2rem 0;
  padding: 0.2rem 0;
}

.auth h2 {
  margin: 0.2rem 0;
  padding: 0.4rem 0;
}

.select-type {
  margin: 0.2rem 0;
  padding: 0.4rem 0;
}

.auth input {
  margin: 0.2rem 0;
  padding: 0.4rem 0.4rem;
}

a.login-register-link {
  display: block;
  padding: 0.4rem 0;
  margin-top: 0.4rem;
  color: #337aff;
}

button.submit {
  width: 100%;
  border: 1px solid #ff5733;
  padding: 0.5rem;
  margin-top: 0.8rem;
  background: white;
  color: #ff5733;
  font-weight: bolder;
  letter-spacing: 0.05rem;
  outline: none;
}

button.submit:hover {
  border: 1px solid white;
  padding: 0.5rem;
  margin-top: 0.8rem;
  background: #ff5733;
  color: white;
  font-weight: bolder;
  letter-spacing: 0.05rem;
  cursor: pointer;
}

/* Create order */

.create-order {
  margin-top: 40px;
  background: white;
  padding: 1rem;
  overflow-x: hidden;
}

select.select-type {
  margin: 0;
  /* margin-top: 0.7rem; */
  flex: 1 1 auto;
}

ul {
  display: flex;
  flex-direction: column;
}

.select-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.7rem;
}

.brick-color {
  background-size: contain;
  background-position: center top;
  background-repeat: no-repeat;
  background-image: url(assets/brick_inverted.png);
  display: block;
  width: 30px;
  height: 24px;
  margin-left: 15px;
  flex: 0 0 auto;
}

.brick {
  background-size: contain;
  background-position: center top;
  background-repeat: no-repeat;
  background-image: url(assets/brick_inverted.png);
  display: block;
  width: 20px;
  height: 14px;
  /* border-radius: 50%; */
}


/* My orders */

.table-container {
  overflow-x: auto;
  width: 100%;
}

table {
  min-width: 100%;
  margin-top: 0.7rem;
  border-collapse: collapse;
}
.product-cell>* {
  margin: 0.2rem auto;
  border-collapse: collapse;
}
.product-cell>:first-child {
  margin-top: 0 !important;
}
.product-cell>:last-child {
  margin-bottom: 0 !important;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

td,
th {
  padding: 0.4rem;
}



/* Tiny devices */
@media (max-width: 575px) {
  .general-wrapper,
  .auth {
    width: 100%;
  }

  .nav-wrapper {
    width: 95%;
  }

  /* ul.heading {
    display: none;
  } */
}

/* Tiny devices */
@media (min-width: 576px) {
  .general-wrapper,
  .auth,
  .order {
    width: 100%;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .general-wrapper,
  .auth {
    width: 500px;
  }

  .general-wrapper.order {
    width: 500px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .general-wrapper,
  .auth {
    width: 500px;
  }
  .general-wrapper.order {
    width: 500px;
  }
  /* nav ul {
    width: 50%;
  } */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .general-wrapper,
  .auth {
    width: 600px;
  }

  .general-wrapper.order {
    width: 600px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .general-wrapper,
  .auth {
    width: 600px;
  }
  .general-wrapper.order {
    width: 600px;
  }
}
